.shrtn {
    margin-left: 15%;
    margin-right: 15%
}
.shrtn-right {
    margin-right: 30%
}
.shrtn-left {
    margin-left: 30%;
}
.links {
    text-align: center;
}
.lineu {
    text-decoration: underline;
}
.empty {
    border:none;
}
.mid {
    text-align: center;
}
.b-w{
    border: 1px solid white;
}
.ez {
    display: inline;
    padding: 20px;
}


html {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../img/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 1%;
}

p.title {
    font-size:xx-large;
    
}

header.links {
    text-align: center;
}
img.scs{
    width: 45%;
    height: 45%;
    align-content: center;
}

ul.horiline {
    text-align: center;
}

nav.mainlinks {
    border: 3px inset rgb(180, 67, 67);
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
    background: rgb(207, 84, 84);
}
a.spacing{
    padding: 1%;
}

img.logo {
    width: 50%;
    height: 50%;
}
#ragfooter {
    font-family:'Times New Roman', Times, serif;
    border: 3px inset rgb(207, 147, 34);
    border-radius: 10px;
    margin: 2% 17% 0em 17%;
    background: rgb(216, 154, 38);
}